* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background: #E6D5B9;
}

img {
    max-width: 400px;
    height: auto;
}

.header {
    height: 155px;
    background-color: #4E3835;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #E6D5B9;
}

.container {}

.block {
    display: flex;
    margin: 50px 150px;
}

.block-text-left {}

.block-text-right {}

.block-title {
    margin: 50px;
    margin-top: 0;
    font-size: 36px;
    color: #4E3835;

}

.right {
    text-align: right;
}

.block-description {
    margin-left: 50px;
    margin-right: 50px;
    color: #4E3833;
    font-size: 18px;
}

.line {
    width: 184px;
    height: 5px;
    background-color: #4E3835;
    margin: 50px auto;
}