* {
    margin: 0;
    padding: 0;
}

.box-small {
    width: 100px;
    height: 100px;
    background: rgb(46, 98, 175);
    color: aliceblue;
    font-size: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*чтобы отделить элементы друг от друга*/
    margin: 10px;
    border: 1px solid black;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    margin: 10px;
    flex-grow: 100px;
}

.boxes {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    /* align-self: flex-end; */
    width: 100%;
}

.box-small {
   
}
.btn {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    justify-content: center;
}