* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.menu {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_menu {
    display: flex;
    justify-content: center;
    padding-right: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: normal;


}

.logo_link {
    text-decoration: none;
    color: #000;
    text-shadow: 0 4px 4px #ffffff;

}

.li_menu {
    display: flex;
    font-size: 24px;
    text-align: center;
    font-family: Oswald;
    font-weight: 300;
    letter-spacing: 0%;
}

.menu__link {
    color: #000;
    margin-left: 46px;
    text-decoration: none;
    text-transform: uppercase;

}

.container {}

.home {
    position: relative;
}

.home_img {
    width: 100%;
    height: auto;
}

.text_home {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 60px;
    font-weight: 700;
    /* left: 0; */
    top: 50%;
    width: 100%;
    position: absolute;
    text-decoration: underline;
    text-underline-offset: 24px;
    text-decoration-thickness: 10px;
    text-decoration-color: #4E3835;

}

.line_home {}

.story {
    /* display: flex;
    justify-content: space-between; */
}

.block_story {
    display: flex;
}

.text_logo_story {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 69px;

}

.text_story {
    margin-top: 110px;
    margin-right: 123px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.img_story {
    margin-left: 82px;
    margin-bottom: 59px;
    margin-right: 40px;
}

.imgStory {
    max-width: 600px;
    height: auto;
}

.blog {
    background: rgb(239, 239, 239);
    height: 711px;
    padding-bottom: 65px;

}

.logo_text_blog {
    text-align: center;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    text-transform: uppercase;
    padding-top: 60px;
}

.block_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px;
}

.block {
    /* border: #000 solid 1px; */
    width: 365px;
    padding: 20px;
    /* margin: 25px; */
    margin-right: 25px;
    background-color: #ffffff;
}

.title_block {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 31px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

}


.text_block {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align-last: left;
    margin-top: 24px;
}

.img_block img {
    width: 100%;
    height: 216px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 337px;
    background: rgb(129, 112, 112);
    text-align: center;
    font-family: Oswald;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;

}

.sunscribe_title {
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    color: #ffffff;
    text-transform: uppercase;
}

.input_email>input {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    border: #ffffff solid 3px;
    background: rgb(129, 112, 112);
    padding: 10px;
}

input::placeholder {
    color: #ffffff;
    text-align: center;
}

.submit_button input[type="submit"] {
    padding: 13px 25.5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(129, 112, 112);
    text-transform: uppercase;
}

.footer {
    height: 72px;
    text-align: center;
    padding: 25px;
    line-height: 72px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}